title: "Mario Paint Music Composer - danielx.net"
description: """
This Mario Paint inspired composer tool is easy and fun. You can create simple and
beautiful songs right in your browser and share them with the world!
"""
version: "0.1.0"
publish:
  s3:
    basePath: "public/danielx.net"
remoteDependencies: [
  "https://code.jquery.com/jquery-1.11.0.min.js"
  "https://checkout.stripe.com/checkout.js"
]
dependencies:
  ajax: "distri/ajax:v0.1.5-pre.0"
  analytics: "distri/google-analytics:v0.1.0"
  cornerstone: "distri/cornerstone:v0.3.0-pre.2"
  hotkeys: "distri/hotkeys:v0.2.0"
  "jquery-utils": "distri/jquery-utils:v0.2.0"
  observable: "distri/observable:v0.3.8"
  postmaster: "distri/postmaster:v0.5.1"
  "touch-canvas": "distri/touch-canvas:v0.3.1"
  ui: "STRd6/ui:master"
