html, body
  height: 100%

body
  color: #673ab7
  font-family: Sans-Serif
  margin: 0
  overflow: hidden

  & > canvas
    position: absolute
    top: 45px
    left: 0px

canvas
  user-select: none

form
  > label
    display: block

    > h3
      font-size: 1em

      &.inline
        display: inline-block
        margin-right: 0.5em

    > input
      padding-left: 2px
      width: 100%

  > .actions
    display: flex
    justify-content: space-between
    margin-top: 1em

body > div > .actions
  background-color: white
  border-bottom: 1px solid rgba(103, 58, 183, 0.5)
  position: absolute
  font-size: 14px
  top: 0
  left: 0
  padding: 4px 4px 0px 4px
  width: 100%

  > button, > label
    margin-bottom: 6px
    margin-right: 0.5em

  > label
    border: 1px solid #673ab7
    border-radius: 4px
    color: #673ab7
    display: inline-block
    padding: 6px 8px 7px
    white-space: nowrap

    &:hover
      background-color: lightyellow

    > input
      border: none
      background-color: rgba(103, 58, 183, 0.19)
      border-left: 1px solid rgba(103, 58, 183, 0.5)
      border-top: 1px solid rgba(103, 58, 183, 0.5)
      color: inherit
      font-size: 1em
      padding-right: 4px
      text-align: right
      width: 30px

      &:focus
        padding-right: 3px
        margin-right: 1px

    > h2
      display: inline
      font-size: 1em
      font-weight: normal

button
  background-color: white
  border 1px solid #673ab7
  border-radius: 4px
  color: #673ab7
  cursor: pointer
  font-size: inherit
  line-height: 1em
  padding: 9px 16px

  &:hover
    background-color: lightyellow

  &:active
    background-color: #673ab7
    color: white

.tools
  background-color: rgba(103, 58, 183, 0.19)
  border-left: 1px solid rgba(103, 58, 183, 0.5)
  width: 40px
  height: 100%
  position: absolute
  right: 0
  top: 45px

  .tool
    width: 40px
    height: 40px
    background-repeat: no-repeat
    background-position: 50% 50%

  > .eraser
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAAIdJREFUeJzNUsERwCAIw15n031wDt0Hl0s/9VoF9NnmZzRBCERfI2zusdOtDABmopRGVoRCrdviADNMiADM6L873Mql2NYiw3E2WItzVi2dSuw8JBHNvQyegcU4vmjNFesWZrHFTSlYQ/RhRDgatKZFnXPy7zMIoVaYa3fH5i3PTHira4r/gQv1W1E4p9FksQAAAABJRU5ErkJggg==")

.position
  color: #673ab7
  pointer-events: none
  padding: 4px
  position: absolute
  right: 0px
  top: 0px


.arranger-wrap
  border-top: 1px solid rgba(103, 58, 183, 0.5)
  overflow-x: scroll
  overflow-y: hidden
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 94px

#feedback
  background-color: rgb(103, 58, 183)
  border: 2px solid white
  border-top: 0
  box-shadow: 1px 2px 5px black
  color: white
  font-weight: bold
  padding: 4px 0.5em
  position: absolute
  left: 730px
  line-height: 1.2em
  text-decoration: none
  text-shadow: 1px 1px black
  top: 0
  transition-property: padding-top
  transition-duration: 0.25s

  &:hover
    padding-top: 1em

#donate
  background-color: #00C853
  border: 2px solid white
  border-top: 0
  box-shadow: 1px 2px 5px black
  color: white
  font-weight: bold
  padding: 4px 0.5em
  position: absolute
  left: 640px
  line-height: 1.2em
  text-decoration: none
  text-shadow: 1px 1px black
  top: 0
  transition-property: padding-top
  transition-duration: 0.25s

  &:hover
    padding-top: 1em
