html, body
  height: 100%

body
  font-family: Sans-Serif
  margin: 0
  overflow: hidden

  & > canvas
    position: absolute
    top: 25px
    left: 0px

canvas
  user-select: none

.actions
  position: absolute
  top: 0
  left: 0

.tools
  background-color: rgba(0, 0, 0, 0.0625)
  width: 40px
  height: 100%
  position: absolute
  right: 0
  top: 0

  .tool
    width: 32px
    height: 32px
    background-repeat: no-repeat
    background-position: 50% 50%

  .eraser
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABGdBTUEAAK/INwWK6QAAAIdJREFUeJzNUsERwCAIw15n031wDt0Hl0s/9VoF9NnmZzRBCERfI2zusdOtDABmopRGVoRCrdviADNMiADM6L873Mql2NYiw3E2WItzVi2dSuw8JBHNvQyegcU4vmjNFesWZrHFTSlYQ/RhRDgatKZFnXPy7zMIoVaYa3fH5i3PTHira4r/gQv1W1E4p9FksQAAAABJRU5ErkJggg==")

.position
  position: absolute
  top: 30px
  right: 60px
  pointer-events: none

.arranger-wrap
  overflow-x: scroll
  overflow-y: hidden
  position: absolute
  bottom: 0
  left: 0
  width: 100%
  height: 94px

#feedback
  background-color: rgb(103, 58, 183)
  border: 2px solid white
  border-top: 0
  box-shadow: 1px 2px 5px black
  color: white
  font-weight: bold
  padding: 4px 0.5em
  position: absolute
  left: 700px
  text-decoration: none
  text-shadow: 1px 1px black
  top: 0
  transition-property: padding-top
  transition-duration: 0.25s

  &:hover
    padding-top: 1em
